@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


$body-font-family: 'Montserrat';
// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
.main_search_box{
    .v-label {
        color: #88889A !important;
    }
    .v-input__slot{
        padding-right: 4px !important;
    }
}